#sect-one, #ratings, .book-display, .book-display .dc-title, #url-button, .info-section #title, .reviews-container #title, .info-section #book-image, .reviews-container #book-image, .centered, #user-form .post-form #submit-container {
  text-align: center; }

.main-container, #sect-one, #sect-one .welcome-view, #sub-col-two p, #user-form .post-form .form-text {
  margin-left: auto;
  margin-right: auto; }

.bg-steel {
  background: #5f788a; }

@media (min-width: 860px) {
  #cover {
    margin-left: auto;
    margin-right: auto;
    width: contain; }
    #cover img {
      image-rendering: auto;
      image-rendering: crisp-edges;
      image-rendering: pixelated;
      object-fit: fill;
      box-shadow: -5px 2px grey;
      min-width: 70%;
      height: 250px; } }
@media (max-width: 859px) {
  .welcome-view {
    padding: 10px;
    height: 100px;
    width: 80%; }

  .pitch-title {
    padding: 10px;
    width: 100%; }

  #cover {
    margin-top: 1%; }
    #cover img {
      height: 200px;
      width: auto;
      min-width: 83%; }

  .welcome-view {
    padding: 20px;
    margin-left: 10%;
    margin-right: 10%; }

  #sect-two {
    text-align: center;
    margin-left: 10%;
    margin-right: 10%; } }
body {
  background: #f0f0f0;
  margin: 0;
  padding: 0; }

header {
  margin-bottom: 10px; }
  header #profile-container {
    margin: 0 15px;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: .1em; }
  header #profile-pic {
    padding: 0;
    border: 2px solid black;
    border-radius: 50%;
    max-width: 40px; }

.main-container {
  margin-top: 20px;
  width: 100%; }

#sub-main {
  padding-top: 35px;
  width: 100%; }

#sect-one {
  background: #ebb03b;
  width: 100%;
  margin-bottom: 0; }
  #sect-one .row {
    margin: 0 10px; }
  #sect-one .welcome-view {
    border: 2px solid black;
    background: #e0e0de;
    padding: 10px;
    height: 250px;
    font-weight: bold; }
  #sect-one .pitch-title {
    background: #14788c;
    color: #c2c3c4;
    padding: 10px;
    width: 100%;
    border: 4px solid #3098d6; }

#sub-col-two p {
  max-width: 40ch;
  text-align: center;
  text-justify: inter-word; }
#sub-col-two ul {
  padding: 0;
  margin: 0;
  margin-top: 5%;
  list-style: none; }
  #sub-col-two ul li {
    display: inline-block;
    padding: 0 10px; }
    #sub-col-two ul li a {
      padding: 10px;
      text-decoration: none;
      font-size: 24px; }
    #sub-col-two ul li a:hover {
      color: white;
      background: black; }

#search-button button {
  padding: 5px;
  width: auto;
  min-width: 50%;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: .1em;
  background: #c2c3c4; }

#search-button button:hover {
  color: white; }

#sect-two {
  margin: 0;
  padding: 10px 0;
  width: 100%;
  background: #c2c3c4; }

#ratings {
  width: 100%;
  padding: 0 5px; }
  #ratings span {
    padding-left: 20px;
    font-weight: normal;
    width: 50px; }

.book-display {
  margin: 10px;
  display: inline-block;
  background: grey;
  border: 2px solid black;
  min-width: 150px;
  width: 15%;
  height: auto; }
  .book-display .dc-title {
    font-size: 18px;
    font-weight: bold; }
  .book-display .dc-book-image {
    max-height: 50%; }
    .book-display .dc-book-image img {
      border: 1px solid black;
      height: 150px; }
  .book-display p {
    text-align: left;
    padding-top: 10px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    line-height: .8em; }
  .book-display .dc-rating {
    width: 100%; }
    .book-display .dc-rating h5 {
      border-top: 2px solid white;
      border-bottom: 2px solid white; }

.container-section {
  margin: 0 25px; }

#welcome-back {
  font-size: 18px; }
  #welcome-back span {
    color: blue;
    font-size: 22px; }
  #welcome-back #wb-content {
    margin-bottom: 5px;
    text-align: left;
    padding: 0; }
  #welcome-back p {
    margin: 0;
    display: inline-block;
    word-wrap: break-word;
    line-height: 1.2em;
    text-align: justify; }

#back-button {
  margin: 0;
  background: #c2c3c4; }

@media (min-width: 850px) {
  .info-section, .reviews-container {
    border-right: 2px solid black; }

  .form-text {
    width: 700px;
    height: 150px; } }
@media (max-width: 849px) {
  .info-section, .reviews-container {
    border-bottom: 2px solid black; }
    .info-section #book-image, .reviews-container #book-image {
      margin: 10px 0; }

  .form-text {
    width: 300px;
    height: 150px; } }
body {
  background: #f0f0f0;
  margin: 1%;
  padding: 0;
  font-size: 18px; }

#url-button .nav-button {
  font-size: 18px;
  font-weight: bold;
  margin: 1px;
  padding: 5px;
  width: 150px;
  background: black; }
  #url-button .nav-button a {
    text-decoration: none; }
#url-button .nav-button:hover {
  color: white;
  background: #c2c3c4;
  border: 1.5px solid blue; }

ul {
  display: block;
  list-style: none;
  padding: 0; }

.content-container {
  display: block;
  margin: 2%;
  border: 2px solid black; }

.info-section, .reviews-container {
  float: left;
  width: 50%;
  height: 358px;
  background: #c2c3c4;
  border: 1px solid black;
  border-collapse: collapse; }
  .info-section #title, .reviews-container #title {
    padding: 0;
    width: 100%;
    background: yellow; }
    .info-section #title h4, .reviews-container #title h4 {
      color: red; }
  .info-section #book-image img, .reviews-container #book-image img {
    width: 200px;
    max-height: 175px;
    border: 2px solid black; }
  .info-section ul, .reviews-container ul {
    margin: 1%; }
  .info-section li, .reviews-container li {
    padding: 2px;
    border: 1px solid black;
    background: white; }
    .info-section li span, .reviews-container li span {
      padding: 5.5px;
      display: inline-block;
      background: red;
      padding-left: 2px;
      width: 65px;
      border-left: 2px solid black;
      border-right: 2px solid black; }

.reviews-container {
  background: #e3e3e3; }
  .reviews-container .review-section {
    max-height: 300px;
    overflow: auto; }
  .reviews-container .reviews {
    display: block;
    margin: 5px;
    padding: 5px;
    border: 4px solid black;
    background: white; }
    .reviews-container .reviews h4 {
      background: #c2c3c4; }
    .reviews-container .reviews .details span {
      font-size: 16px;
      font-weight: 600; }
    .reviews-container .reviews .details input {
      opacity: 0;
      position: absolute;
      pointer-events: none; }
    .reviews-container .reviews .details p {
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis; }
    .reviews-container .reviews .details input:focus ~ label {
      outline: -webkit-focus-ring-color auto 5px; }
    .reviews-container .reviews .details input:checked + p {
      -webkit-line-clamp: unset; }
    .reviews-container .reviews .details input:checked ~ label,
    .reviews-container .reviews .details p:not(.truncated) ~ label {
      display: none; }
    .reviews-container .reviews .details label {
      border-radius: 4px;
      padding: 0.2em 0.6em;
      border: 1px solid #009ce2;
      background-color: #00acff;
      color: #fff;
      font-size: 0.8em; }

#user-form {
  background: #c2c3c4;
  border: 0;
  width: 100%; }
  #user-form .post-form {
    position: relative;
    margin-left: 10px; }
    #user-form .post-form .alert {
      padding: 5px;
      max-height: 30px;
      font-size: 15px; }
    #user-form .post-form .form-label {
      font-weight: 500; }
    #user-form .post-form .form-text {
      border: 1px solid black; }
    #user-form .post-form #submit-container {
      margin-top: 5px; }
      #user-form .post-form #submit-container .form-submit {
        font-size: 20px;
        font-weight: bold;
        background: orange; }

.form-group li {
  clear: initial; }

/*# sourceMappingURL=reviews.css.map */
