{% extends "layout.html" %}

{% macro PageNumber() -%}
	<!-- paginated links --> 
  {% set results  = data.results  %}
   {% for pg in results.iter_pages(left_edge=1, right_edge=1, left_current=1,right_current=2) %}
     {% if pg %}
       {% if results.page == pg %}
          <a class="btn btn-info mb-4" href="{{ url_for('searchFor', radio=radio,search=search,page=pg) }}">{{ pg }}</a>
       {% else %}
          <a class="btn btn-outline-info mb-4" href="{{ url_for('searchFor', radio=radio,search=search,page=pg) }}">{{ pg }}</a>
       {% endif %}
     {% endif  %}
   {% endfor %}
{% endmacro %}


{% block style %}
    <link rel="stylesheet" type='text/css' href="{{ url_for('static', filename='css/api.css') }} "/>  
{% endblock style %}

{% block content %}
<section class="results">
  <h3>Found: <span>{{ data.total }}</span></h3>
  <div class="results-container">
		{{  PageNumber() }}
    {% for result in (data.results.items) %}
      <div class="results-items">
        <h5>{{ result.title }}</h5>
      </div>
    {% endfor %}
		{{  PageNumber() }}
  </div>
  </section>

<section id="related-books">
</section>
{% endblock content %}
