{% extends "layout.html" %}
{% block content %}
<section>
  <div id="search" class="form-group">
    <h1>Find a book</h1>
    <form action="{{ url_for('search') }}" method="post">
      <ul>
        <fieldset class="from-group">
          <!-- Radio Buttons -->
          <div class="form-group">
            <li id='search-radio-btn'>
              {{ form.radio.label(class="form-control-label") }}</br>
            {% if form.radio.errors %}
              {{ form.radio(class="form-control form-control-lg is-invalid") }}
              <div class="invalid-feedback">
                {% for error in form.radio.errors %}
                  <span>{{ error }}</span>
                {% endfor %}
              </div>
            {% else %}
              {% for subfield in form.radio %}
                <label class="radio" for="">
                  {{ subfield }}
                  {{ subfield.label }}
                </label>
               {% endfor %}
            {% endif %}
            </li>
          </div>

          <!-- Text Field -->
          <div class="form-group">
            <li id=search-bar>
            {{ form.search.label(class="form-control-label") }}
            {% if form.search.errors %}
              {{ form.search(class="form-control form-control-lg is-invalid") }}
              <div class="invalid-feedback">
                {% for error in form.search.errors %}
                  <span>{{ error }}</span>
                {% endfor %}
              </div>
            {% else %}
              {{ form.search(class="form-control form-control-lg") }}

             {% endif %}
            </li>
          </div>

          <!-- Submit Button -->
          <div class="form-group">
            {{ form.submit_field(class="form-group btn btn-outline-info") }}
          </div>
        </fieldset>
      </ul>
    </form>
  </div>
</section>
{% endblock content %}
